mixin organiser(org)
	.organiser
		.organiser__header
			a(href="http://www.iammattwalters.com")
				.img-wrapper
					img(src=org.image, alt='NYCNode organiser - ' + org.name, width=80, height=80).img-circle
				h4.organiser__name Matt Walters
			p.lead
				| Get in touch via 
				a(href='mailto:nycnode@iammattwalters.com', target='_blank') Email
				| , 
				a(href='https://github.com/mateodelnorte', target='_blank') Github
				| , or
				a(href='https://twitter.com/mateodelnorte', target='_blank') Twitter